<% content_for :page_script do %>
  <%= javascript_include_tag "quotes" %>
<% end %>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-box">
      <h2>Editing Quote</h2>
      <%= render 'form' %>   
    </div>
  </div>  
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-box">
      <h2>Request Details</h2>
        <%= render 'request_details' %>   
    </div>
  </div>  
</div>
