<li class="dropdown hidden-xs">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-warning"></i>
    <% if mailbox.try(:inbox).try(:count) > 0 %>
      <%= content_tag :span, unread_notifications.try(:count), class: 'count' %>
    <% end %>
  </a>
  <ul class="dropdown-menu notifications-list">
    <li class="pointer">
    <div class="pointer-inner">
      <div class="arrow"></div>
      <div class="arrow-border"></div>
    </div>
    </li>
    <%= content_tag :li, "You have #{unread_notifications.try(:count)} new notifications", class: "item-header" %>
    <% unless mailbox.nil? %>
      <% unread_notifications.each do |conversation| %>
        <li class="item">
          <a href="/notifications/<%= conversation.id %>">
            <i class="fa fa-comment"></i>
            <%= content_tag :span, conversation.subject, class: 'content' %>
          </a>
        </li>
      <% end %>
    <% end %>
    <li class="item-footer">
      <a href="/notifications">
        View all notifications
      </a>
    </li>
  </ul>
</li>
