<% content_for :page_script do %>
  <%= javascript_include_tag "application" %>
<% end %>
<div class="row">

  <div class="col-lg-12">
    <div class="main-box">
      <%= content_tag :h2, @notification.subject %>
      <h2></h2>
      <div class="center-block">
        <%= content_tag :p, @notification.body %>
      </div>
      <div class="center-block">
        <%= content_tag :p, @notification.created_at %>
      </div>
    </div>
  </div>
</div>
