<div class="option-field">
<fieldset>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>    <%= link_to '[remove]', '#', class: 'remove_options' %>
  </div>
</fieldset>
</div>