<div class="option-field">
  <div class="field">
    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", placeholder: "option name" %>
    <%= link_to '#', class: 'remove_options' do %>
      <%= content_tag(:i, "", class: "fa fa-minus-circle") %>
    <% end %>
  </div>
</div>