<div class="setting-field">
  <div class="field">
    <%= f.text_field type.to_sym, class: "form-control", placeholder: "Add your #{type}" %>
    <%= link_to '#', class: 'remove-setting' do %>
      <%= content_tag(:i, "", class: "fa fa-minus-circle") %>
      <%= content_tag(:span, "Remove style") %>
    <% end %>
  </div>
</div>
