.height-100 {
	height: 100px;
}
.height-full {
	height: 100%;
}
.top-31{
	margin-top: 31px;
}

#signature input {
  position: relative !important;
}

.public-btn {
  margin: 50px 0 0 0;
}

#accept {
  margin-right: 10px;
}

.signed {
  border: 1px solid #34d1be;
  padding: 5px; 
  margin: 0 15px 0 0;
}

.sig-title {
  margin-bottom: 10px;
}

.has-events {
  cursor: pointer;
}

.child-menu {
  .table thead > tr > th {
    background-color: #f2f2f2;
    span {
      border: none;
    }
  }

  & > td, .table tbody > tr > td {
    border-top: none !important;
    background: #fcfcfc !important;
  }
}
